{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Access Key{% endblock %}

{% block content %}
    <h2 class="text-center">Create Access Key</h2>
    <form method="post" action="{% url 'create_access_key' %}">
        {% csrf_token %}
        {{ form | crispy}}
        <div class="align-items-center mt-0">
            <div class="d-grid">
                <button class="btn btn-primary mb-0" type="submit">Create Access Key</button>
            </div>
        </div>
    </form>
   
{% endblock %}