{% extends "base.html" %}
{% block title %}Account Activated{% endblock %}


{% block content %}
<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-15 vh-lg-50">
        <div class="p-3 p-lg-5">
          <!-- Title -->
          <div class="text-center">
            <h2 class="fw-bold">Account Activated </h2>
            <p class="mb-0 h6 fw-light">Thanks for signing up. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}