{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}Log out{% endblock %}


{% block content %}
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

		<div class="container-fluid">
			<!-- Title -->
			<span class="mb-0 fs-1"></span>
			<h1 class="fs-2">Login</h1>
			<p class="lead mb-4">Nice to see you!<br>Please log in with your account.</p>

			<!-- Form START -->
			<form method="POST" action="{% url 'login' %}">
				<!-- Email -->
				<div class="mb-4">
					{% csrf_token %}
					{{ form | crispy }}
				</div>
				<div class="mb-4 d-flex justify-content-between mb-4">
					<div class="form-check">
					</div>
					<div class="text-primary-hover">
						<a href="{% url 'auth_password_reset' %}" class="text-secondary">
							<u>Forgot password?</u>
						</a>
					</div>
				</div>
				<div class="align-items-center mt-0">
					<div class="d-grid">
						<button class="btn btn-primary mb-0" type="submit">Login</button>
					</div>
				</div>
			</form>
			<div class="mt-4 text-center">
				<span>Don't have an account? <a href="{% url 'registration_register' %}"><b>Signup here</b></a></span>
			</div>
		</div>

	</section>
</main>
{% endblock %}