{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}Sign up {% endblock %}


{% block content %}

<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
            <h2 class="fw-bold">Activation email sent</h2>
            <p class="mb-0 h6 fw-light">Thanks for signing up </p>

            <span class="mb-0 fs-1"></span>
            <h2 class="fs-3">Activate your account 🙂</h2>
            <p class="lead mb-4">Please check your email/spam to complete the registration process.</p>       

</section>
{% endblock %}